<div class='logout'>
    <a [routerLink]="['/logout']"> <img style='width:90px;height: 50px' src="./assets/images/logout.jpg" /> </a>
</div>
<div class='panel panel-primary'>

    <div class='panel-heading'>
        <h2> {{pageTitle + ' : ' }} {{ title | uppercase}} </h2>
    </div>
    <div class='panel-body'>

        <div class='table-responsive'>
            <table class='table' *ngIf='workoutTransactions && workoutTransactions.length'>
                <thead>
                    <tr>


                        <th>Start Time</th>
                        <th>Stop Time</th>
                        <th>Duration</th>
                        <th>CalsBurnt</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let workoutTransaction of workoutTransactions'>

                        <td> {{ workoutTransaction.startTime }}
                        </td>
                        <td> {{ workoutTransaction.stopTime }}</td>
                        <td>{{ workoutTransaction.duration }}</td>
                        <td>{{ workoutTransaction.calsBurnt | number:'3.2-2' }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-toolbar" role="toolbar" style="margin: 0;">
                <div class="btn-group">
                    <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
                </div>
                <div class="btn-group pull-right">
                    <ul class="pagination">
                        <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}"><a (click)="prevPage()" style="font-size: 15px;">Prev</a></li>
                        <li *ngFor="let page of pagesIndex" [ngClass]="{'active': (currentIndex == page)}">
                            <a (click)="setPage(page)" style="font-size: 15px;">{{page}}</a>
                        </li>
                        <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" style="font-size: 15px;"><a (click)="nextPage()">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()' style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Back
    </a>
    <button class="btn btn-default" (click)="newWorkouttrans();">Record Workout</button>
</div>